.model {
  width: 100%;
  min-height: 70px;
  font-size: 12px;
  padding: 5px;
  border-top: 1px solid #d8dbeb;
  border-bottom: 1px solid #d8dbeb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.model:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .model {
    width: 70px;
    height: 70px;
    border: 1px solid #d8dbeb;
    margin: 5px;
  }
}
